// Dependent colors
$black: #000000;
$white: #ffffff;

$classic-base-color: #0f500f;
$classic-primary-color: #9bbe9b;
$classic-secondary-color: #d7e6d7;
$classic-highlight-color: #1ea51e;

// Differences
$success-green: #3c754d;

$base-overlay-background: $white !default;
$valid-value-color: $success-green !default;

$ui-base-color: $classic-secondary-color !default;
$ui-base-lighter-color: #afdcaf;
$ui-primary-color: #99e899;
$ui-secondary-color: $classic-base-color !default;
$ui-highlight-color: #239b23;

$primary-text-color: $black !default;
$darker-text-color: $classic-base-color !default;
$dark-text-color: #0f4b0f;
$action-button-color: #466446;

$inverted-text-color: $black !default;
$lighter-text-color: $classic-base-color !default;
$light-text-color: #274f34;

//Newly added colors
$account-background-color: $white !default;

//Invert darkened and lightened colors
@function darken($color, $amount) {
  @return hsl(hue($color), saturation($color), lightness($color) + $amount);
}

@function lighten($color, $amount) {
  @return hsl(hue($color), saturation($color), lightness($color) - $amount);
}
