// Dependent colors
$black: #000000;
$white: #ffffff;

$classic-base-color: #352d26;
$classic-primary-color: #bfab97;
$classic-secondary-color: #e8e0d9;
$classic-highlight-color: #d98d2b;

// Differences
$success-green: #3c754d;

$base-overlay-background: $white !default;
$valid-value-color: $success-green !default;

$ui-base-color: $classic-secondary-color !default;
$ui-base-lighter-color: #e8d2b7;
$ui-primary-color: #edbc9c;
$ui-secondary-color: $classic-base-color !default;
$ui-highlight-color: #d98d2b;

$primary-text-color: $black !default;
$darker-text-color: $classic-base-color !default;
$dark-text-color: #665547;
$action-button-color: #c46f00;

$inverted-text-color: $black !default;
$lighter-text-color: $classic-base-color !default;
$light-text-color: #274f34;

//Newly added colors
$account-background-color: $white !default;

//Invert darkened and lightened colors
@function darken($color, $amount) {
  @return hsl(hue($color), saturation($color), lightness($color) + $amount);
}

@function lighten($color, $amount) {
  @return hsl(hue($color), saturation($color), lightness($color) - $amount);
}
