$classic-base-color: #223322;
$classic-primary-color: #aaaa77;
$classic-secondary-color: #d9e1e8;
$classic-highlight-color: #aa77aa;

@forward '../mastodon/variables' with (
  $classic-base-color: $classic-base-color,
  $classic-primary-color: $classic-primary-color,
  $classic-secondary-color: $classic-secondary-color,
  $classic-highlight-color: $classic-highlight-color,
);
