@import 'mastodon-light/variables';
@import 'application';
@import 'mastodon-light/diff';
@import 'mastodon-light/announcement';
@font-face {
  font-family: 'Juliamo';
  src: url('../fonts/juliamo/juliamo.woff') format('woff');
}
body {
    font-family: 'Juliamo';
}
